body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: larger;
}

#main > * {
    display: block;
    justify-content: center;  
    align-items: center; 
    font-size: inherit;
}

#progress{
    width: 100%;
    height: 10px;
    border-radius: 30px;
    border-style: solid;
    border-width: 1px;
}

#bar{
    background-color: palegreen;
    width: 0%;
    height: 10px;
    border-radius: 30px;
}

#options [name="Offline"]{
    color: blue;
}

#options [name="Online"]{
    color: green;
}

#userFeedback{
    position: absolute;
    text-align: center;
    width: 50vw;
    height: 25vw;
    border-radius: 30px;
    border-style: solid;
    border-width: 1px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button{
    padding: 2vh 2vw;
    margin: 5px;
    font-size: inherit;
}

button [name="submit"]{
    text-align: center;
}

input.choices {
    display: none;
  }

label{
    padding: 1px 5px 1px 5px;
    margin: 3px;
    border-radius: 30px;
    border-style: solid;
    border-width: 1px;
}

#control{
    position: absolute;
    right: 5px;
    top: 5px;

}

#title{
    text-decoration: underline;
}

.solution{
    margin: 10px;
    display: flex;
    flex-direction: row;
}

#control > button{
    visibility: hidden;
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 768px) {
    /* Hier werden die Anpassungen für Desktops getroffen */
    #main > * {
        display: block;
        justify-content: center;  
        align-items: center; 
    }

    .solution{
        display: flex;
        flex-direction: column;
    }

    body{
        font-size: medium;
    }
    #control > button{
        visibility: visible;
        display: flex;
        flex-direction: row;
    }
    

}